<a href="https://colab.research.google.com/github/ciaoCiao100/proveChallenge2/blob/master/customerTensorflowProva.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

vengono importate le librerie , scaricato il dataset e impostata la target label

In [47]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow import feature_column
from tensorflow.keras import layers
from sklearn.model_selection import train_test_split

# operazione che fa in modo che i numeri siano pi√π leggibili
np.set_printoptions(precision=3, suppress=True)

data_path ="/content/drive/My Drive/WA_Fn-UseC_-Telco-Customer-Churn.train.csv"
df = pd.read_csv(data_path)
target_label ="Churn"
df.head()

  Churn  customerID  ... MonthlyCharges  TotalCharges
0    No  4223-BKEOR  ...          64.85        1336.8
1    No  6035-RIIOM  ...          97.20       5129.45
2   Yes  3797-VTIDR  ...          23.45         23.45
3   Yes  2568-BRGYX  ...          70.20        237.95
4    No  2775-SEFEE  ...          61.90

[5 rows x 21 columns]

controllo di valori non validi

In [48]:
# Sostituisco ad ogni stringa vuota il valore 'NaN'
df.replace("", np.nan, inplace=True)
df.replace(" ", np.nan, inplace=True)
df.replace("?", np.nan, inplace=True)
df.head()

  Churn  customerID  ... MonthlyCharges  TotalCharges
0    No  4223-BKEOR  ...          64.85        1336.8
1    No  6035-RIIOM  ...          97.20       5129.45
2   Yes  3797-VTIDR  ...          23.45         23.45
3   Yes  2568-BRGYX  ...          70.20        237.95
4    No  2775-SEFEE  ...          61.90           NaN

[5 rows x 21 columns]

elimino righe con NaN

In [49]:

# Procediamo con l'eliminazione dei dati non validi (NaN)
df.dropna(inplace=True)
df.head()

  Churn  customerID  ... MonthlyCharges  TotalCharges
0    No  4223-BKEOR  ...          64.85        1336.8
1    No  6035-RIIOM  ...          97.20       5129.45
2   Yes  3797-VTIDR  ...          23.45         23.45
3   Yes  2568-BRGYX  ...          70.20        237.95
5    No  4291-SHSBH  ...          69.55        521.35

[5 rows x 21 columns]

conversione degli elementi presenti in tabella in float

In [50]:


for elemento in df:
  if elemento=="MonthlyCharges" or elemento=="TotalCharges" or elemento=="tenure":
   df[elemento] = df[elemento].astype('float')
  else:
   df[elemento] = (pd.Categorical(df[elemento])).codes.astype('float')
# mostro il dataset dopo l'operazione
df.head()

   Churn  customerID  gender  ...  PaymentMethod  MonthlyCharges  TotalCharges
0    0.0      2364.0     0.0  ...            3.0           64.85       1336.80
1    0.0      3448.0     0.0  ...            0.0           97.20       5129.45
2    1.0      2143.0     1.0  ...            2.0           23.45         23.45
3    1.0      1424.0     1.0  ...            2.0           70.20        237.95
5    0.0      2394.0     1.0  ...            2.0           69.55        521.35

[5 rows x 21 columns]

preparazione del modello della rete

In [51]:
#costruisco il modello
def get_compiled_model():
  model = tf.keras.Sequential([
    tf.keras.layers.Dense(128, activation='relu'),
    tf.keras.layers.Dense(128, activation='relu'),
    tf.keras.layers.Dense(1)
  ])

  model.compile(optimizer='adam',
                loss=tf.keras.losses.BinaryCrossentropy(from_logits=True),
                metrics=['accuracy'])
  return model

model = get_compiled_model()
#preparo il dataset
train, test = train_test_split(df, test_size=0.1)
train, val = train_test_split(train, test_size=0.1)

addestramento

In [52]:
# Creazione  del training
train_target = train.pop(target_label)
train_dataset = (tf.data.Dataset.from_tensor_slices((train.values, train_target.values))).shuffle(len(train)).batch(1)
#addestramento e impostazione epoche
model.fit(train_dataset, epochs=30)

Epoch 1/30
WARNING:tensorflow:Layer dense_21 is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because it's dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

4554/4554 [==============================] - 6s 1ms/step - loss: 11.2776 - accuracy: 0.6728
Epoch 2/30
4554/4554 [==============================] - 6s 1ms/step - loss: 1.0501 - accuracy: 0.7143
Epoch 3/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.5533 - accuracy: 0.7486
Epoch 4/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.5190 - accuracy: 0.7497
Epoch 5/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.5035 - accuracy: 0.7488
Epoch 6/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.4983 - accuracy: 0.7545
Epoch 7/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.5319 - accuracy: 0.7596
Epoch 8/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.4858 - accuracy: 0.7576
Epoch 9/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.4884 - accuracy: 0.7516
Epoch 10/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.4884 - accuracy: 0.7596
Epoch 11/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.4832 - accuracy: 0.7538
Epoch 12/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.4765 - accuracy: 0.7648
Epoch 13/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.4810 - accuracy: 0.7600
Epoch 14/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.4915 - accuracy: 0.7582
Epoch 15/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.4686 - accuracy: 0.7626
Epoch 16/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.4693 - accuracy: 0.7677
Epoch 17/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.4644 - accuracy: 0.7697
Epoch 18/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.4690 - accuracy: 0.7655
Epoch 19/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.4653 - accuracy: 0.7675
Epoch 20/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.4674 - accuracy: 0.7600
Epoch 21/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.4643 - accuracy: 0.7679
Epoch 22/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.4599 - accuracy: 0.7734
Epoch 23/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.4656 - accuracy: 0.7738
Epoch 24/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.4597 - accuracy: 0.7712
Epoch 25/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.4583 - accuracy: 0.7708
Epoch 26/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.4591 - accuracy: 0.7782
Epoch 27/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.4603 - accuracy: 0.7712
Epoch 28/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.4603 - accuracy: 0.7672
Epoch 29/30
4554/4554 [==============================] - 7s 1ms/step - loss: 0.4613 - accuracy: 0.7721
Epoch 30/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.4609 - accuracy: 0.7697

test

In [53]:
# Creazione del  test 
test_target = test.pop(target_label)
test_dataset = (tf.data.Dataset.from_tensor_slices((test.values, test_target.values))).shuffle(len(test)).batch(1)

# Fase di test
test_loss, test_accuracy = model.evaluate(test_dataset)
print('\n\nTest Loss {}, Test Accuracy {}'.format(test_loss, test_accuracy))

563/563 [==============================] - 1s 1ms/step - loss: 0.4436 - accuracy: 0.7886


Test Loss 0.4435825049877167, Test Accuracy 0.788632333278656

validazione

In [54]:
#valutazione
val_target = val.pop(target_label)

val_dataset = (tf.data.Dataset.from_tensor_slices(val.values)).batch(1)

# Fase di valutazione
predictions = model.predict(val_dataset)


# Show some results 
for prediction, yes in zip(predictions[:10], list(val_target)[:10]):
  prediction = tf.sigmoid(prediction).numpy()
  print("Predicted yes: {:.2%}".format(prediction[0]),
        " | Actual outcome: ",
        ("yes" if bool(yes) else "no"))

Predicted yes: 9.99%  | Actual outcome:  no
Predicted yes: 6.65%  | Actual outcome:  yes
Predicted yes: 0.31%  | Actual outcome:  no
Predicted yes: 0.66%  | Actual outcome:  no
Predicted yes: 41.13%  | Actual outcome:  no
Predicted yes: 12.88%  | Actual outcome:  no
Predicted yes: 2.93%  | Actual outcome:  no
Predicted yes: 25.69%  | Actual outcome:  yes
Predicted yes: 71.22%  | Actual outcome:  yes
Predicted yes: 39.90%  | Actual outcome:  yes