<a href="https://colab.research.google.com/github/ciaoCiao100/proveChallenge2/blob/master/customerTensorflowProva.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

vengono importate le librerie , scaricato il dataset e impostata la target label

In [37]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow import feature_column
from tensorflow.keras import layers
from sklearn.model_selection import train_test_split

# operazione che fa in modo che i numeri siano pi√π leggibili
np.set_printoptions(precision=3, suppress=True)

data_path ="/content/drive/My Drive/WA_Fn-UseC_-Telco-Customer-Churn.train.csv"
df = pd.read_csv(data_path)
target_label ="Churn"
df.head()

  Churn  customerID  ... MonthlyCharges  TotalCharges
0    No  4223-BKEOR  ...          64.85        1336.8
1    No  6035-RIIOM  ...          97.20       5129.45
2   Yes  3797-VTIDR  ...          23.45         23.45
3   Yes  2568-BRGYX  ...          70.20        237.95
4    No  2775-SEFEE  ...          61.90

[5 rows x 21 columns]

controllo di valori non validi

In [38]:
# Sostituisco ad ogni stringa vuola il valore 'NaN'
df.replace("", np.nan, inplace=True)
df.replace(" ", np.nan, inplace=True)
df.replace("?", np.nan, inplace=True)
df.head()

  Churn  customerID  ... MonthlyCharges  TotalCharges
0    No  4223-BKEOR  ...          64.85        1336.8
1    No  6035-RIIOM  ...          97.20       5129.45
2   Yes  3797-VTIDR  ...          23.45         23.45
3   Yes  2568-BRGYX  ...          70.20        237.95
4    No  2775-SEFEE  ...          61.90           NaN

[5 rows x 21 columns]

elimino righe con NaN

In [41]:

# Procediamo con l'eliminazione dei dati non validi (NaN)
df.dropna(inplace=True)
df.head()

  Churn  customerID  ... MonthlyCharges  TotalCharges
0    No  4223-BKEOR  ...          64.85        1336.8
1    No  6035-RIIOM  ...          97.20       5129.45
2   Yes  3797-VTIDR  ...          23.45         23.45
3   Yes  2568-BRGYX  ...          70.20        237.95
5    No  4291-SHSBH  ...          69.55        521.35

[5 rows x 21 columns]

conversione degli elementi presenti in tabella in interi

In [42]:
#tutte le colonne che contengono stringhe devono essere trasformate in colonne che contengono interi 
#for elemento in df:
 
   #df[elemento] = pd.Categorical(df[elemento])
   #df[elemento] = getattr(df, elemento).cat.codes
   #mostro il dataset dopo l'operazione
#df.head()

for elemento in df:
  if elemento=="MonthlyCharges" or elemento=="TotalCharges" or elemento=="tenure":
   df[elemento] = df[elemento].astype('float')
  else:
   df[elemento] = (pd.Categorical(df[elemento])).codes.astype('float')
# mostro il dataset dopo l'operazione
df.head()

   Churn  customerID  gender  ...  PaymentMethod  MonthlyCharges  TotalCharges
0    0.0      2364.0     0.0  ...            3.0           64.85       1336.80
1    0.0      3448.0     0.0  ...            0.0           97.20       5129.45
2    1.0      2143.0     1.0  ...            2.0           23.45         23.45
3    1.0      1424.0     1.0  ...            2.0           70.20        237.95
5    0.0      2394.0     1.0  ...            2.0           69.55        521.35

[5 rows x 21 columns]

preparazione del modello della rete

In [43]:
#costruisco il modello
def get_compiled_model():
  model = tf.keras.Sequential([
    tf.keras.layers.Dense(128, activation='relu'),
    tf.keras.layers.Dense(128, activation='relu'),
    tf.keras.layers.Dense(1)
  ])

  model.compile(optimizer='adam',
                loss=tf.keras.losses.BinaryCrossentropy(from_logits=True),
                metrics=['accuracy'])
  return model

model = get_compiled_model()
#preparo il dataset
train, test = train_test_split(df, test_size=0.1)
train, val = train_test_split(train, test_size=0.1)

addestramento

In [44]:
# Creazione  del training
train_target = train.pop(target_label)
train_dataset = (tf.data.Dataset.from_tensor_slices((train.values, train_target.values))).shuffle(len(train)).batch(1)
#addestramento e impostazione epoche
model.fit(train_dataset, epochs=30)

Epoch 1/30
WARNING:tensorflow:Layer dense_18 is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because it's dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

4554/4554 [==============================] - 6s 1ms/step - loss: 12.7674 - accuracy: 0.6836
Epoch 2/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.9631 - accuracy: 0.7319
Epoch 3/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.5823 - accuracy: 0.7400
Epoch 4/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.5332 - accuracy: 0.7510
Epoch 5/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.5064 - accuracy: 0.7538
Epoch 6/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.4923 - accuracy: 0.7648
Epoch 7/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.5179 - accuracy: 0.7591
Epoch 8/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.4932 - accuracy: 0.7655
Epoch 9/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.4827 - accuracy: 0.7648
Epoch 10/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.4825 - accuracy: 0.7650
Epoch 11/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.4834 - accuracy: 0.7633
Epoch 12/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.4787 - accuracy: 0.7692
Epoch 13/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.4743 - accuracy: 0.7736
Epoch 14/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.4775 - accuracy: 0.7756
Epoch 15/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.4781 - accuracy: 0.7732
Epoch 16/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.4749 - accuracy: 0.7751
Epoch 17/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.4736 - accuracy: 0.7749
Epoch 18/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.4765 - accuracy: 0.7732
Epoch 19/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.4874 - accuracy: 0.7809
Epoch 20/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.4727 - accuracy: 0.7767
Epoch 21/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.4810 - accuracy: 0.7762
Epoch 22/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.4745 - accuracy: 0.7789
Epoch 23/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.4732 - accuracy: 0.7760
Epoch 24/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.4800 - accuracy: 0.7756
Epoch 25/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.4718 - accuracy: 0.7802
Epoch 26/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.4687 - accuracy: 0.7817
Epoch 27/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.4722 - accuracy: 0.7756
Epoch 28/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.4602 - accuracy: 0.7789
Epoch 29/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.4694 - accuracy: 0.7789
Epoch 30/30
4554/4554 [==============================] - 6s 1ms/step - loss: 0.4755 - accuracy: 0.7769

test

In [45]:
# Creazione del  test 
test_target = test.pop(target_label)
test_dataset = (tf.data.Dataset.from_tensor_slices((test.values, test_target.values))).shuffle(len(test)).batch(1)

# Fase di test
test_loss, test_accuracy = model.evaluate(test_dataset)
print('\n\nTest Loss {}, Test Accuracy {}'.format(test_loss, test_accuracy))

563/563 [==============================] - 1s 964us/step - loss: 0.4613 - accuracy: 0.7709


Test Loss 0.46128252148628235, Test Accuracy 0.7708703279495239

validazione

In [46]:
#valutazione
val_target = val.pop(target_label)

val_dataset = (tf.data.Dataset.from_tensor_slices(val.values)).batch(1)

# Fase di valutazione
predictions = model.predict(val_dataset)


# Show some results 
for prediction, yes in zip(predictions[:10], list(val_target)[:10]):
  prediction = tf.sigmoid(prediction).numpy()
  print("Predicted yes: {:.2%}".format(prediction[0]),
        " | Actual outcome: ",
        ("yes" if bool(yes) else "no"))

Predicted yes: 22.80%  | Actual outcome:  no
Predicted yes: 13.27%  | Actual outcome:  no
Predicted yes: 77.27%  | Actual outcome:  yes
Predicted yes: 13.27%  | Actual outcome:  no
Predicted yes: 65.58%  | Actual outcome:  yes
Predicted yes: 21.99%  | Actual outcome:  no
Predicted yes: 9.37%  | Actual outcome:  no
Predicted yes: 79.08%  | Actual outcome:  yes
Predicted yes: 10.94%  | Actual outcome:  no
Predicted yes: 54.33%  | Actual outcome:  yes