<a href="https://colab.research.google.com/github/ciaoCiao100/proveChallenge2/blob/master/customerKaggleProva.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

importo librerie

In [20]:
import pandas as pd
import functools
import numpy as np
import tensorflow as tf
from sklearn import tree
import matplotlib as plt
import nltk

import sklearn.metrics as metrics
import sklearn
from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import DecisionTreeClassifier
from tensorflow import feature_column
from tensorflow.keras import layers
from sklearn.model_selection import train_test_split
from sklearn.model_selection import train_test_split

caricamento dastaset

In [21]:
# Path of the file to read
customer_file_path = "/content/drive/My Drive/WA_Fn-UseC_-Telco-Customer-Churn.train.csv"
df = pd.read_csv(customer_file_path)
df.head()
# Sostituisco ad ogni stringa vuola il valore 'NaN'
df.replace("", np.nan, inplace=True)
df.replace(" ", np.nan, inplace=True)
df.replace("?", np.nan, inplace=True)
df.head()

  Churn  customerID  ... MonthlyCharges  TotalCharges
0    No  4223-BKEOR  ...          64.85        1336.8
1    No  6035-RIIOM  ...          97.20       5129.45
2   Yes  3797-VTIDR  ...          23.45         23.45
3   Yes  2568-BRGYX  ...          70.20        237.95
4    No  2775-SEFEE  ...          61.90           NaN

[5 rows x 21 columns]

conversione da stringhe ad interi

In [22]:
#tutte le colonne che contengono stringhe devono essere trasformate in colonne che contengono interi 
for elemento in df:
 
  df[elemento] = pd.Categorical(df[elemento])
  df[elemento] = getattr(df, elemento).cat.codes
# mostro il dataset dopo l'operazione
df.head()

   Churn  customerID  gender  ...  PaymentMethod  MonthlyCharges  TotalCharges
0      0        2370       0  ...              3             586           491
1      0        3457       0  ...              0            1170          3510
2      1        2149       1  ...              2              59          1565
3      1        1426       1  ...              2             674          1626
4      0        1545       1  ...              0             546            -1

[5 rows x 21 columns]

eliminazione colonne nulle

In [23]:
# Procediamo con l'eliminazione dei dati non validi (NaN)
df.dropna(inplace=True)
df.head()

   Churn  customerID  gender  ...  PaymentMethod  MonthlyCharges  TotalCharges
0      0        2370       0  ...              3             586           491
1      0        3457       0  ...              0            1170          3510
2      1        2149       1  ...              2              59          1565
3      1        1426       1  ...              2             674          1626
4      0        1545       1  ...              0             546            -1

[5 rows x 21 columns]

eliminazione colonne inutili

In [24]:
df = df.drop(['customerID', 'gender', 'tenure','PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies'], axis=1)
df.head()

   Churn  SeniorCitizen  Partner  ...  PaymentMethod  MonthlyCharges  TotalCharges
0      0              0        0  ...              3             586           491
1      0              0        0  ...              0            1170          3510
2      1              0        1  ...              2              59          1565
3      1              0        0  ...              2             674          1626
4      0              0        0  ...              0             546            -1

[5 rows x 9 columns]

preparazione modello

In [25]:
train, test = train_test_split(df)
features = ['SeniorCitizen','Partner','Dependents','Contract','PaperlessBilling','PaymentMethod','MonthlyCharges','TotalCharges']
X = train[features]
Y = train['Churn']
X_test = test[features]
Y_test =test['Churn']


# Specify Model
model = DecisionTreeClassifier(random_state=1)
# Fit Model
model.fit(X, Y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=1, splitter='best')

addestramento

In [26]:
train_predictions = model.predict(X)
train_acc = metrics.accuracy_score(Y,train_predictions)
print('Accuracy train: %s'  % train_acc)

Accuracy train: 0.9981065088757396

test

In [27]:
test_predictions = model.predict(X_test)
test_acc=metrics.accuracy_score(Y_test,test_predictions)
print('Accuracy test: %s'  % test_acc)

Accuracy test: 0.7146912704045423